@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Matrix Report</h2>
</div>

<a class="btn btn-primary" href="../Home/Print" target="_blank">Matrix Report</a>
